@use '../../global' as *;
@use '../../partials' as *;

button,
[type='button'],
[type='reset'],
[type='submit'] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-hamburger {
  @include square(40);
  @include flex-center;
  overflow: hidden;

  i {
    color: $sectionbg-4;
    font-size: size(24);
  }

  @include hover {
    i {
      color: $primary;
    }
  }
}

.btn-started {
  @include setBgColor(transparent, $headingtext);
  @include border(solid, 1, $headingtext);
  @include radius(4);
  @include flex-center;
  font-weight: 700;
  padding: size(12) size(16);
  text-align: center;
  @include transitionsall;

  @include hover {
    @include setBgColor($headingtext, $white);
  }
}

.btn-submit {
  @include setBgColor($headingtext, $white);
  @include border(solid, 1, $headingtext);
  @include radius(4);
  @include flex-center;
  font-weight: 700;
  padding: size(12) size(40);
  text-align: center;
  @include transitionsall;

  @include hover {
    @include setBgColor(transparent, $headingtext);
  }
}

.btn-quote {
  @include setBgColor(transparent, $headingtext);
  @include border(solid, 1, $headingtext);
  @include radius(4);
  @include flex-center;
  font-weight: 700;
  padding: size(12) size(40);
  text-align: center;
  @include transitionsall;

  @include hover {
    @include setBgColor($headingtext, $white);
  }
}

.btn-order {
  @include setBgColor($white, $headingtext);
  @include border(solid, 1, $white);
  @include radius(4);
  @include flex-center;
  font-weight: 700;
  padding: size(12) size(40);
  text-align: center;
  @include transitionsall;

  @include hover {
    @include setBgColor($headingtext, $white);
    border-color: $headingtext;
  }
}

.btn-started {
  @include setBgColor(transparent, $headingtext);
  @include border(solid, 1, $headingtext);
  @include radius(4);
  @include flex-center;
  font-weight: 700;
  padding: size(12) size(36);
  text-align: center;
  @include transitionsall;

  @include hover {
    @include setBgColor($headingtext, $white);
  }
}

.btn-building {
  @include setBgColor($primary, $white);
  @include border(solid, 1, $primary);
  @include radius(4);
  @include flex-center;
  font-weight: 700;
  padding: size(12) size(16);
  text-align: center;
  @include transitionsall;

  @include hover {
    @include setBgColor(transparent, $primary);
  }
}