@use '../../global' as *;
@use '../../partials' as *;

button,
[type='button'],
[type='reset'],
[type='submit'] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-hamburger {
  @include square(40);
  @include flex-center;
  overflow: hidden;

  i {
    color: $sectionbg-4;
    font-size: size(24);
  }

  @include hover {
    i {
      color: $primary;
    }
  }
}
