@use '../../global' as *;
@use '../../partials' as *;

.desktoplist {
  @include list-horizontal;

  &-item {
    height: size(100);
    @include flex-center;
    padding-inline: size(12);
  
    @include breakpoint(desktop1200) {
      padding-inline: size(18);
    }

    @include hover {
      .desktoplist-link:not(.active) {
        color: $primary;
      }
    }
  }

  &-link {
    color: $headingtext;
    font-weight: 500;
    @include transitionsall;

    &.active {
      color: $primary;
    }
  }

  .dropdownitem {
    @include hover {
      .resourcesdropdown {
        border-color: $primary;
        display: block;

        &::before,
        &::after {
          border-color: $primary;
        }
      }
    }
  }
}

.authlist {
  @include list-horizontal;
  gap: size(12);
  
  @include breakpoint(desktop1400) {
    gap: size(20);
  }
}

.mobilelist {
  @include list-vertical;
  gap: size(12);

  &-link {
    color: $headingtext;
    font-weight: 500;
    @include transitionsall;

    &:hover:not(.active) {
      color: $primary;
    }

    &.active {
      color: $primary;
    }
  }
}

.dropdownlist {
  @include list-horizontal;
  gap: size(32);
  justify-content: center;

  &-link {
    @include flex;
    gap: size(14);

    .icon {
      @include square(118);
      @include flex-center;
      overflow: hidden;
    }

    .info {
      width: calc(100% - size(132));
      @include flex-column;
      gap: size(16);

      @include breakpoint(desktop1400) {
        gap: size(16);
      }

      .title {
        color: $headingtext;
        font-size: size(16);
        font-weight: 500;
        @include transitionscolor;
      }

      .text {
        color: $primarytext;
        font-size: size(14);
        // max-width: size(201);

        @include breakpoint(desktop1400) {
          font-size: size(16);
        }
      }
    }

    @include hover {
      .info {
        .title {
          color: $primary;
        }
      }
    }
  }
}

.mobiledropdown {
  @include list-vertical;
  gap: size(14);

  &-link {
    @include flex;
    gap: size(14);

    .icon {
      @include square(64);
      @include flex-center;
      overflow: hidden;
    }

    .info {
      width: calc(100% - size(78));
      @include flex-column;

      .title {
        color: $headingtext;
        font-size: size(14);
        font-weight: 500;
      }

      .text {
        color: $primarytext;
        font-size: size(12);
      }
    }
  }
}

.social-list {
  @include list-horizontal;
  gap: size(20);

  &-link {
    background: $white;
    @include square(40);
    @include border(solid, 1, $headingtext);
    @include circle;
    @include flex-center;
    overflow: hidden;
    padding: size(8);

    @include hover {
      background: $headingtext;

      svg {
        path {
          fill: $white;
        }

        .pathtop {
          fill: $white;
        }

        .pathdown {
          fill: $headingtext;
        }
      }
    }
  }
}

.footerlist {
  @include list-vertical;
  gap: size(14);

  &-link {
    color: $primarytext;

    @include hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}

.packagelist {
  @include list-vertical;
  gap: size(16);
      
  @include breakpoint(desktop1400) {
    gap: size(24);
  }

  &-item {
    @include flex;
    gap: size(10);

    .icon {
      @include square(22);
      @include flex-center;
      overflow: hidden;
    }

    .text {
      color: $packagetext;
      font-size: size(12);
      width: calc(100% - size(32));
      
      @include breakpoint(desktop1400) {
        font-size: size(15);
      }
    }
  }
}