@use '../../global' as *;
@use '../../partials' as *;

.cardblog {
  @include flex-column;
  gap: size(40);

  &-header {
    @include w100;
    height: size(220);

    @include breakpoint(mobile768) {
      height: size(300);
    }
    
    @include breakpoint(tab992) {
      height: size(400);
    }

    .blogthumbnail {
      @include border(solid, 2, $headingtext);
      @include radius(20);
      box-shadow: $blogshadow;
      @include flex-center;
      overflow: hidden;
      @include wh100;

      img {
        @include wh100;
        @include transitiontransform;

        @include hover {
          @include scale(1.05);
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);

    .blogtitle {
      font-size: size(18);
      font-weight: 500;
      @include line-clamp;
      @include transitionscolor;

      @include breakpoint(desktop1400) {
      font-size: size(22);
      }

      @include hover {
        color: $primary;
      }
    }

    .blogtext {
      color: $primarytext;
    }
  }
}

.cardskill {
  position: relative;
  background: $cardborder;
  @include border(solid, 1, $cardbg-1);
  @include radius(10);
  padding: size(64) size(24) size(48);
  @include h100;

  .counter {
    @include setBgColor($primary, $white);
    @include square(66);
    @include circle;
    @include flex-center;
    font-size: size(24);
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: size(-33);
    left: size(24);
    z-index: 100;
  }

  &-content {
    @include flex-column;
    gap: size(24);
  }
  
  &-header {
    .title {
      font-size: size(22);
      font-weight: 700;
    }
  }

  &-body {
    .text {
      color: $primarytext;
    }
  }
}

.cardseo {
  background: $white;
  @include border(solid, 2, $headingtext);
  @include radius(15);
  box-shadow: $cardshadow;
  @include flex-column;
  gap: size(24);
  max-width: size(345);
  padding: size(36) size(24) size(48);

  .title {
    font-size: size(18);
    font-weight: 500;
  }

  .text {
    color: $lifecycletext;
    font-size: size(14);
    text-align: justify;
  }

  &.cardseo-1 {
    .title {
      color: $green;
    }
  }

  &.cardseo-2 {
    .title {
      color: $primary;
    }
  }

  &.cardseo-3 {
    .title {
      color: $secondary;
    }
  }
}

.cardwow {
  @include border(solid, 2, $headingtext);
  @include radius(20);
  @include flex-column;
  gap: size(48);
  padding: size(20);
  @include h100;
  overflow: hidden;

  @include breakpoint(mobile768) {
    padding: size(40);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(60);
    gap: size(64);
  }

  &-header {
    .card-thumbnail {
      @include border(solid, 2, $headingtext);
      @include radius(20);
      box-shadow: $cardshadow;
      overflow: hidden;
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);
    
    .title {
      font-weight: 700;
    }

    .info {
      @include flex-column;
      gap: size(24);

      .text {
        color: $headingtext;
        text-align: justify;
      }
    }

    .actions {
      @include flex-center-vert;
      gap: size(14);
      flex-wrap: wrap;
    }

    a {
      max-width: size(180);
    }
  }

  &.card-1 {
    background: $cardbg-2 url(../images/card-section/card-1-bg.png) no-repeat center center/cover;
  
    .cardwow-body {
      .title {
        color: $white;
      }

      .info {
        margin-bottom: size(64);

        .text {
          color: $white;
        }
      }
    }
  }
  
  &.card-2 {
    background: $primary url(../images/card-section/card-2-bg.png) no-repeat center center/cover;
  
    .cardwow-body {
      .info {
        margin-bottom: size(10);
      }
    }
  }
}

.cardindustry {
  @include flex-center-column;
  gap: size(32);
  text-align: center;

  .industryicon {
    @include square(48);
    @include flex-center;
    overflow: hidden;
  }

  .title {
    font-size: size(18);
    font-weight: 400;
    
    @include breakpoint(desktop1400) {
      font-size: size(20);
    }
  }
}

.cardwebsite {
  @include flex-column;
  gap: size(32);
  @include h100;
  
  &-header {
    .icon {
      @include radius(20);
      @include square(72);
      @include flex-center;
      overflow: hidden;
      padding: size(16);
    }
  }

  &-body {
    @include flex-column;
    gap: size(16);

    .title {
      font-size: size(20);
      font-weight: 500;
      @include text-overflow;
    }

    .text {
      color: $primarytext;
    }
  }

  &-1 {
    .cardwebsite-header {
      .icon {
        background: $iconbg-1;
      }
    }
  }

  &-2 {
    .cardwebsite-header {
      .icon {
        background: $iconbg-2;
      }
    }
  }

  &-3 {
    .cardwebsite-header {
      .icon {
        background: $iconbg-3;
      }
    }
  }

  &-4 {
    .cardwebsite-header {
      .icon {
        background: $iconbg-4;
      }
    }
  }
}

.cardlifecycle {
  background: $white;
  @include border(solid, 2, $headingtext);
  @include radius(15);
  box-shadow: $cardshadow;
  @include flex-column;
  gap: size(32);
  padding: size(36) size(24) size(40);
  @include h100;

  &-header {
    .thumbnail {
      width: size(96);
      height: size(64);
      @include flex-center;
      overflow: hidden;
    }
  }

  &-body {
    @include flex-column;
    gap: size(20);

    .title {
      font-size: size(18);
      font-weight: 500;
    }
    
    .text {
      color: $lifecycletext;
      font-size: size(14);
    }
  }
}

.cardtestimonial {
  background: $white;
  @include border(solid, 2, $headingtext);
  @include radius(15);
  box-shadow: $cardshadow;
  padding: size(16);
  margin-left: size(8);
  
  @include breakpoint(desktop1200) {
    padding: size(32);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(48);
  }

  .title {
    font-size: size(24);
    font-weight: 500;
  }

  .clientinfo {
    padding: size(16);
    @include flex-column;
    gap: size(20);

    .text {
      color: $headingtext;
      max-width: 90%;
    }

    .author {
      @include flex-center-vert;
      gap: size(24);

      &-thumbnail {
        @include square(48);
        @include border(solid, 2, $authorborder);
        @include circle;
        @include flex-center;
        overflow: hidden;

        img {
          @include wh100;
        }
      }

      &-info {
        width: calc(100% - size(64));
        @include flex-column;
        gap: size(4);

        .name {
          color: $authortext;
          font-size: size(16);
        }

        .designation {
          color: $authortext;
          font-size: size(13);
        }
      }
    }
  }
}