$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(28, 91%, 54%); //#F5821F
$secondary: hsl(196, 82%, 51%); //#1DB4E9

// BACKGROUND-COLORS
$cardbg-1: hsl(216, 100%, 95%); //#E4EFFF
$cardbg-2: hsl(220, 100%, 67%); //#568EFF
$boxbg: hsl(140, 100%, 93%); //#DBFFE7
$inputbg: hsl(0, 0%, 98%); //#F9F9F9
$contactinputbg: hsl(0, 0%, 99%); //#FDFDFD

$sectionbg-1: hsl(15, 100%, 98%); //#FFF6F3
$sectionbg-2: hsl(180, 100%, 98%); //#F3FFFF
$sectionbg-3: hsl(21, 81%, 96%); //#FDF2EC
$sectionbg-4: hsl(220, 100%, 73%); //#75A3FF

$iconbg-1: hsl(201, 100%, 92%); //#D7F1FF
$iconbg-2: hsl(0, 100%, 89%); //#FFC9C9
$iconbg-3: hsl(54, 100%, 89%); //#FFFAC9
$iconbg-4: hsl(159, 100%, 74%); //#79FFCF

// TEXT-COLORS
$headingtext: hsl(201, 63%, 12%); //#0B2330
$primarytext: hsl(0, 0%, 34%); //#565656
$textplaceholder: hsl(0, 3%, 46%); //#787272
$textlink: hsl(200, 100%, 50%); //#00AAFF
$accordiontext: hsl(0, 0%, 44%); //#707070

$danger: hsl(354, 70%, 54%); //#dc3545
$success: hsl(140, 64%, 62%); //#5EDC89

// BORDER-COLORS
$headerborder: hsl(0, 0%, 85%); //#D9D9D9
$cardborder: hsl(220, 100%, 98%); //#F6F9FF

// SHADOWS

// BOX-SHADOWS
$formshadow: .4375rem .4375rem 0 0 $headingtext;