$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(28, 91%, 54%); //#F5821F
$secondary: hsl(196, 82%, 51%); //#1DB4E9

// BACKGROUND-COLORS
$cardbg-1: hsl(216, 100%, 95%); //#E4EFFF
$cardbg-2: hsl(220, 100%, 67%); //#568EFF
$boxbg: hsl(140, 100%, 93%); //#DBFFE7
$inputbg: hsl(0, 0%, 98%); //#F9F9F9
$contactinputbg: hsl(0, 0%, 99%); //#FDFDFD
$paginationitembg: hsl(0, 0%, 92%); //#EAEAEA
$editbtnbg: hsl(0, 0%, 95%); //#F2F2F2
$badgebg: hsl(28, 100%, 86%); //#FFDABA
$tabbg: hsl(260, 9%, 94%); //#EEEDF0

$sectionbg-1: hsl(15, 100%, 98%); //#FFF6F3
$sectionbg-2: hsl(180, 100%, 98%); //#F3FFFF
$sectionbg-3: hsl(21, 81%, 96%); //#FDF2EC
$sectionbg-4: hsl(220, 100%, 73%); //#75A3FF
$sectionbg-5: hsl(196, 100%, 96%); //#E9F9FF
$sectionbg-6: hsl(227, 60%, 97%); //#F3F5FC

$iconbg-1: hsl(201, 100%, 92%); //#D7F1FF
$iconbg-2: hsl(0, 100%, 89%); //#FFC9C9
$iconbg-3: hsl(54, 100%, 89%); //#FFFAC9
$iconbg-4: hsl(159, 100%, 74%); //#79FFCF

// TEXT-COLORS
$headingtext: hsl(201, 63%, 12%); //#0B2330
$primarytext: hsl(0, 0%, 34%); //#565656
$textplaceholder: hsl(0, 3%, 46%); //#787272
$textlink: hsl(200, 100%, 50%); //#00AAFF
$accordiontext: hsl(0, 0%, 44%); //#707070
$authortext: hsl(0, 0%, 24%); //#3C3C3C
$lifecycletext: hsl(240, 3%, 15%); //#242426
$packagetext: hsl(0, 0%, 35%); //#5A5A5A

$danger: hsl(354, 70%, 54%); //#dc3545
$success: hsl(140, 64%, 62%); //#5EDC89
$green: hsl(141, 50%, 47%); //3CB265

// BORDER-COLORS
$headerborder: hsl(0, 0%, 85%); //#D9D9D9
$cardborder: hsl(220, 100%, 98%); //#F6F9FF
$authorborder: hsl(246, 58%, 55%); //#5649CF

// SHADOWS
$shade-2: rgba(7,37,68, 0.06);

// BOX-SHADOWS
$formshadow: .4375rem .4375rem 0 0 $headingtext;
$cardshadow: -0.4656rem .4655rem 0 0 $headingtext;
$searchshadow: 0 .5rem 2.5625rem -0.5625rem rgba($black, 0.09);
$blogshadow: .4375rem .4375rem 0 0 $headingtext;
$pricingshadow: .4375rem .4375rem 0 0 $primary;
$headershadow: 0 .25rem 1.875rem rgba($black, 0.1);