@use '../global' as *;
@use '../partials' as *;

.aboutus {
  background: $sectionbg-6 url(../images/sectionbg/aboutsecbg.png) no-repeat center center/contain;
  padding: size(48) size(0);
  position: relative;

  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(80);

    @include breakpoint(desktop1400) {
      gap: size(96);
    }
  }

  .info {
    max-width: size(558);
    margin-inline: auto;
  }

  .about-hero {
    position: relative;
    z-index: 100;

    .about-thumb {
      @include border(solid, 2, $headingtext);
      @include radius(20);
      box-shadow: $blogshadow;
      @include flex-center;
      @include wh100;
      overflow: hidden;
      
      @include breakpoint(desktop1400) {
        height: size(267);
      }

      img {
        @include wh100;
      }
    }

    .heroicon {
      @include square(236);
      overflow: hidden;
      position: absolute;
      top: size(-110);
      left: size(-130);
      z-index: 100;
      display: none;
      
      @include breakpoint(tab992) {
        @include flex-center;
      }
    }
  }

  .aboutoverlay {
    position: absolute;
    bottom: size(0);
    left: size(0);
    @include w100;
    height: size(190);
    background: $white;
  }
}

.ourmission {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-details {
    @include flex-column;
    gap: size(40);

    .info {
      .text {
        color: $headingtext;
        font-weight: 400;
        text-align: justify;
      }
    }
  }
}

.autoincrement {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-details {
    background: $sectionbg-5;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    box-shadow: $blogshadow;
    padding: size(32);
    margin-bottom: size(64);

    .cardincrement {
      @include flex-column;

      .text {
        color: $primarytext;
      }
    }
  }
}

.aboutmyinfo {
  padding: size(48) size(20);
  margin-bottom: size(80);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  .details {
    @include flex-column;
    gap: size(40);

    .info {
      .text {
        color: $headingtext;
        text-align: justify;
      }
    }
  }

  .thumbnail {
    @include square(336);
    @include flex-center;
    margin-inline: auto;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: contain;
    }
  }
}

.productvalues {
  background: $sectionbg-6 url(../images/sectionbg/aboutsecbg.png) no-repeat center center/contain;
  padding: size(64) size(20);
  margin-bottom: size(80);

  @include breakpoint(mobile768) {
    padding: size(96) size(20);
    margin-bottom: size(96);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(140) size(20);
    margin-bottom: size(160);
  }

  &-content {
    @include flex-column;
    gap: size(80);

    @include breakpoint(desktop1400) {
      gap: size(96);
    }
  }
}

.aboutplatform {
  padding-bottom: size(48);
  margin-bottom: size(48);

  @include breakpoint(mobile768) {
    padding-bottom: size(64);
  }
  
  @include breakpoint(desktop1400) {
    padding-bottom: size(96);
  }

  &-content {
    background: $sectionbg-5;
    @include radius(20);
    overflow: hidden;
  }

  &-info {
    @include border(solid, 2, $headingtext);
    @include radius(20);
    overflow: hidden;
  }

  .leftinfo {
    @include flex-column;
    gap: size(32);
    padding: size(16);

    @include breakpoint(mobile768) {
      padding: size(40) size(20);
    }
    
    @include breakpoint(desktop1400) {
      padding: size(60) size(20);
    }

    .display-6 {
      font-weight: 700;
    }
    
    .info {
      .text {
        color: $headingtext;
      }
    }

    .started {
      max-width: size(200);
    }
  }

  &-thumbnail {
    background-color: $sectionbg-5;
    @include flex;
    align-items: center;
    justify-content: flex-end;
    @include h100;
  }
}