@use '../global' as *;
@use '../partials' as *;

.blogs {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(48);
    padding-bottom: size(80);
  }

  .info {
    max-width: size(482);
    margin-inline: auto;

    .text {
      color: $primarytext;
    }
  }
}