@use '../global' as *;
@use '../partials' as *;

.trial {
  background: $white;
  box-shadow: $headderdownshadow;
  padding: size(8);

  .text {
    color: $headingtext;
    font-size: size(14);
    font-weight: 400;

    span {
      color: inherit;
      font: inherit;
      font-weight: 500;
    }
  }
}

.startbuild {
  &-content {
    @include flex-center-column;
    gap: size(32);
    text-align: center;

    .icon {
      width: size(172);
      height: size(157);
      @include flex-center;
      overflow: hidden;
    }

    .info {
      max-width: size(527);
      margin-inline: auto;

      .text {
        color: $headingtext;
        font-size: size(16);
        font-weight: 400;
      }
    }

    .start {
      .btn-building {
        @include radius(131);
        padding: size(8) size(24);
      }
    }
  }
}

.templateview {
  .cardtemplate {
    align-items: flex-start;

    &-header {
      .template-thumbnail {
        .viewedit {
          .btn-edit {
            max-width: size(150);
          }
        }
      }
    }

    &-body {
      align-items: flex-start;
      text-align: left;
    }
  }

  .form-select {
    background-color: $editbtnbg;
    border-color: $headerborder;
    @include radius(200);
    padding: size(11) size(20);
    @include transitionsall;

    &:focus {
      border-color: $secondary;
    }
  }
}

.billingdetails {
  &-content {
    @include flex-column;
    gap: size(40);
  }

  &-header {
    .title {
      font-size: size(28);
    }
  }

  &-body {
    background: $white;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    box-shadow: $blogshadow;
    @include flex-column;
    gap: size(96);
    padding: size(20);
    
    @include breakpoint(tab992) {
      padding: size(36);
    }
  }

  .paymenthistory {
    @include flex-column;
    gap: size(14);

    &-header {
      padding-bottom: size(12);
      @include border-single(bottom, solid, 1, rgba($headingtext, 0.15));
      @include flex-center-between;
      gap: size(12);
      flex-wrap: wrap;

      .title {
        font-size: size(18);
        font-weight: 500;
      }
    }
  }

  .myplan {
    @include flex-column;
    gap: size(20);

    &-header {
      @include border-single(bottom, solid, 1, rgba($headingtext, 0.15));
      padding-bottom: size(20);

      .title {
        color: $headingtext;
        font-size: size(18);
        font-weight: 500;
      }
    }

    &-body {
      @include flex-column;
      gap: size(32);

      .planinfo {
        @include flex-column;

        .title {
          color: $plantext;
          font-size: size(12);
          font-weight: 500;
        }
        
        .plantext {
          color: $headingtext;
          font-size: size(16);
          font-weight: 400;

          &.package {
            color: $primary;
          }
        }
      }

      .text {
        color: $plantext;
        font-size: size(12);
        font-weight: 400;

        .link {
          color: $headingtext;
          font: inherit;
          text-decoration: underline;
          @include transitionscolor;

          @include hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.accountsettings {
  &-content {
    @include flex-column;
    gap: size(40);
  }

  &-header {
    .title {
      font-size: size(28);
    }
  }

  &-body {
    background: $white;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    box-shadow: $blogshadow;
    @include flex-column;
    gap: size(96);
    padding: size(20);
    
    @include breakpoint(tab992) {
      padding: size(36);
    }

    .inputbox {
      @include flex-column;
      gap: size(16);

      .inputlabel {
        color: $headingtext;
        font-size: size(16);
        font-weight: 500;

        span {
          font: inherit;
          color: $primary;
        }
      }
    }

    .btn-change {
      color: $primarytext;
      font-size: size(14);
      font-weight: 400;
      text-align: left;
      text-decoration-line: underline;
      @include transitionscolor;

      @include hover {
        color: $secondary;
      }
    }
  }
}