@use '../global' as *;
@use '../partials' as *;

.trial {
  background: $white;
  box-shadow: $headderdownshadow;
  padding: size(8);

  .text {
    color: $headingtext;
    font-size: size(14);
    font-weight: 400;

    span {
      color: inherit;
      font: inherit;
      font-weight: 500;
    }
  }
}

.templateview {
  .cardtemplate {
    align-items: flex-start;

    &-header {
      .template-thumbnail {
        .viewedit {
          .btn-edit {
            max-width: size(150);
          }
        }
      }
    }

    &-body {
      align-items: flex-start;
      text-align: left;
    }
  }

  .form-select {
    background-color: $editbtnbg;
    border-color: $headerborder;
    @include radius(200);
    padding: size(11) size(20);
    @include transitionsall;

    &:focus {
      border-color: $secondary;
    }
  }
}

.billingdetails {
  &-content {
    @include flex-column;
    gap: size(40);
  }

  &-header {
    .title {
      font-size: size(28);
    }
  }

  &-body {
    background: $white;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    box-shadow: $blogshadow;
    padding: size(20);
    
    @include breakpoint(tab992) {
      padding: size(36);
    }
  }

  .paymenthistory {
    @include flex-column;
    gap: size(14);

    &-header {
      padding-bottom: size(12);
      @include border-single(bottom, solid, 1, rgba($headingtext, 0.15));
      @include flex-center-between;
      gap: size(12);
      flex-wrap: wrap;

      .title {
        font-size: size(18);
        font-weight: 500;
      }
    }
  }
}