@use '../global' as *;
@use '../partials' as *;

.contact {
  background: $sectionbg-6 url(../images/sectionbg/contactbg.png) no-repeat center center/contain;
  padding: size(48) size(0);
  margin-bottom: size(64);

  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(mobile768) {
      gap: size(64);
    }
    
    @include breakpoint(desktop1400) {
      gap: size(96);
    }
  }

  .info {
    max-width: size(482);
    margin-inline: auto;
  }

  .contactdetails {
    position: relative;

    .contactoverlay {
      position: absolute;
      bottom: size(-48);
      left: 0;
      @include w100;
      height: size(240);
      background: $white;

      @include breakpoint(mobile768) {
        bottom: size(-64);
      }
      
      @include breakpoint(tab992) {
        height: size(320);
      }
  
      @include breakpoint(desktop1400) {
        bottom: size(-96);
      }
    }
  }
}