@use '../global' as *;
@use '../partials' as *;

.domainsearch {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(64);
    padding-bottom: size(48);
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  .info {
    max-width: size(464);
    margin-inline: auto;

    .text {
      color: $primarytext;
    }
  }

  &-details {
    @include flex-column;
    gap: size(40);
  }
}

.existingdomain {
  background: $white;
  @include border(solid, 1, $headingtext);
  @include radius(20);
  box-shadow: $blogshadow;
  @include flex-column;
  gap: size(20);
  padding: size(24);
  
  @include breakpoint(mobile768) {
    padding: size(40);
  }

  &-header {
    padding-bottom: size(24);
    @include border-single(bottom, solid, 1, rgba($headingtext, 0.15));
    
    @include breakpoint(mobile768) {
      padding-bottom: size(40);
    }

    .title {
      font-size: size(22);
      font-weight: 500;
    }
  }

  &-body {
    @include flex-column;
    gap: size(32);

    .domainlist {
      @include flex-column;
      gap: size(16);
      max-height: size(544);
      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        background: transparent;
        width: size(8);
        @include radius(8);
      }

      &::-webkit-scrollbar-thumb {
        // background: $textplaceholder;
        @include radius(8);
      }
    }

    .btn-apply {
      @include setBgColor($headingtext, $white);
      @include radius(4);
      font-weight: 700;
      @include flex-center;
      overflow: hidden;
      padding: size(12);
      @include w100;
      @include transitionsall;

      @include hover {
        @include setBgColor($primary, $white);
      }
    }
  }
}

.domainoptions {
  background: $white;
  @include border(solid, 1, $headingtext);
  @include radius(20);
  box-shadow: $blogshadow;
  @include flex-column;
  gap: size(16);
  padding: size(24);
  
  @include breakpoint(mobile768) {
    padding: size(40);
  }

  &-header {
    @include border-single(bottom, solid, 1, rgba($headingtext, 0.15));
    @include flex-center-between;
    flex-wrap: wrap;
    gap: size(12);
    padding-bottom: size(20);

    .title {
      font-size: size(22);
      font-weight: 500;
    }

    .alldomains {
      .selectfield {
        background-color: $contactinputbg;
        width: size(208);
      }
    }
  }
}

.optiontable {
  @include flex-column;
  gap: size(32);

  .optionrow {
    @include border-single(bottom, solid, 1, rgba($headingtext, 0.15));
    @include flex-center-between;
    flex-wrap: wrap;
    gap: size(12);
    padding-bottom: size(20);
    
    @include breakpoint(tab992) {
      flex-wrap: nowrap;
    }

    .domain-name,
    .domain-price {
      color: $headingtext;
      font-size: size(15);
      font-weight: 400;
    }

    .btn-cart {
      @include setBgColor($headingtext, $white);
      @include radius(4);
      font-weight: 700;
      @include flex-center;
      overflow: hidden;
      padding: size(12);
      @include w100;
      @include transitionsall;

      @include hover {
        @include setBgColor($primary, $white);
      }
    }

    .alreadytaken {
      color: $dangercolor;
      font-size: size(15);
      font-weight: 500;
    }

    .premiumdomain {
      color: $secondary;
      font-size: size(15);
      font-weight: 500;
    }

    .option {
      @include breakpoint(tab992) {
        width: calc(100% / 3);

        .addto {
          max-width: size(150);
        }

        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(3) {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}