@use '../global' as *;
@use '../partials' as *;

.faqs {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(mobile768) {
      gap: size(64);
    }
    
    @include breakpoint(desktop1400) {
      gap: size(96);
    }
  }

  .info {
    max-width: size(482);
    margin-inline: auto;
  }

  .faq-details {
    position: relative;
    padding-bottom: size(80);
    margin-bottom: size(80);

    .lefticon,
    .righticon {
      position: absolute;
      @include flex-center;
      overflow: hidden;
    }

    .lefticon {
      width: size(236);
      height: size(236);
      top: size(-136);
      left: size(-48);
    }

    .righticon {
      width: size(130);
      height: size(79);
      bottom: 0;
      right: 0;
    }
  }

  .faqinfo {
    .accordion {
      &-item {
        border: 0;
        @include border-single(bottom, solid, 1, $headerborder);
        @include radius(0);
        padding-top: size(24);
        padding-bottom: size(24);

        &:first-of-type,
        &:last-of-type {
          .accordion-button {
            @include radius(0);
          }
        }
      }

      &-header {
        margin-bottom: size(16);
      }
      
      &-button {
        font-size: size(22);
        font-weight: 500;
        border: 0;

        &:not(.collapsed) {
          @include setBgColor($white, $primary);
          box-shadow: none;

          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 26.25C21.2132 26.25 26.25 21.2132 26.25 15C26.25 8.7868 21.2132 3.75 15 3.75C8.7868 3.75 3.75 8.7868 3.75 15C3.75 21.2132 8.7868 26.25 15 26.25Z' stroke='%230B2330' stroke-width='1.3' stroke-miterlimit='10'/%3E%3Cpath d='M10.3125 15H19.6875' stroke='%230B2330' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }

        &::after {
          @include square(32);
          @include flex-center;
          overflow: hidden;
          background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.09961 14.9996C3.09961 8.42742 8.42742 3.09961 14.9996 3.09961C21.5718 3.09961 26.8996 8.42742 26.8996 14.9996C26.8996 21.5718 21.5718 26.8996 14.9996 26.8996C8.42742 26.8996 3.09961 21.5718 3.09961 14.9996Z' fill='%230B2330'/%3E%3Cpath d='M10.3125 15H19.6875' stroke='white' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 10.3125V19.6875' stroke='white' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-size: cover;
        }

        &:focus {
          border: 0;
          box-shadow: none;
        }
      }
      
      &-body {
        padding: 0;

        .faqtext {
          color: $accordiontext;
        }
      }
    }
  }
}