@use '../global' as *;
@use '../partials' as *;

.homebanner {
  background: $sectionbg-1;
  padding: size(48) size(0);
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(0);
  }

  .topcontent {
    .display-6 {
      @include breakpoint(desktop1400) {
        font-size: size(40);
      }
    }

    .info {
      max-width: size(574);
      margin-inline: auto;

      .text {
        color: $primarytext;
      }
    }
  }

  &-content {
    @include flex-column;
    gap: size(48);
  }

  .herothumb {
    position: relative;
    z-index: 10;
    background: $sectionbg-1;

    .herothumbnail {
      @include flex-center;
      position: relative;
      z-index: 100;

      img {
        @include border(solid, 2, $headingtext);
        @include radius(20);
        overflow: hidden;
        @include wh100;
        object-fit: cover;
        position: relative;
        z-index: 100;
      }

      .lefticon,
      .righticon {
        overflow: hidden;
        position: absolute;
        display: none;
        
        @include breakpoint(tab992) {
          @include flex-center;
        }
      }

      .lefticon {
        width: size(106);
        height: size(69);
        top: size(-48);
        left: size(-64);
      }

      .righticon {
        @include square(160);
        bottom: size(-80);
        right: size(-96);
      }

      .shadowbox {
        position: absolute;
        bottom: size(-12);
        left: auto;
        right: auto;
        width: calc(100% - size(40));
        margin-inline: auto;
        height: size(80);
        background: $headingtext;
        @include radius(20);
        z-index: -1;
      }
    }

    .overlayhero {
      position: absolute;
      bottom: size(-48);
      left: 0;
      @include w100;
      height: size(180);
      background: $white;
      
      @include breakpoint(tab992) {
        height: size(240);
      }
  
      @include breakpoint(desktop1400) {
        bottom: size(-96);
      }
    }
  }
}

.skillsection {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(80);

    @include breakpoint(desktop1400) {
      gap: size(96);
    }
  }

  .info {
    max-width: size(420);
    margin-inline: auto;
  }
}

.diysection {
  padding: size(0) size(20) size(48);

  @include breakpoint(mobile768) {
    padding: size(0) size(20) size(64);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(0) size(20) size(96);
  }

  &-content {
    background: $sectionbg-1;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    overflow: hidden;
    padding: size(24);

    @include breakpoint(mobile768) {
      padding: size(48);
    }

    @include breakpoint(desktop1400) {
      padding: size(80);
    }
  }

  .leftinfo {
    @include flex-column;
    gap: size(48);
    
    .info {
      @include flex-column;
      gap: size(32);
    }

    .actions {
      @include flex-center-vert;
      gap: size(14);
      flex-wrap: wrap;
    }
  }

  .rightinfo {
    position: relative;
    padding-top: size(48);

    .diysection-thumbnail {
      @include wh100;
      @include flex-center;
      overflow: hidden;
    }

    .diyicon {
      width: size(146);
      height: size(110);
      overflow: hidden;
      position: absolute;
      top: size(-64);
      right: size(-48);
      display: none;
      
      @include breakpoint(mobile768) {
        @include flex-center;
      }
      
      @include breakpoint(tab992) {
        right: size(-96);
      }
    }
  }
}

.seoperformance {
  padding: size(48) size(20);
  margin-top: size(48);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  .leftcontent {
    background: url(../images/seoperformance/seoperformance-bg.png) no-repeat center center/cover;
    @include h100;
    position: relative;

    .contents {
      position: relative;
      @include flex-column;
      gap: size(35);
    
      @include breakpoint(desktop1200) {
        margin-left: size(-40);
        padding-top: size(40);
      }

      .cardseo-2 {
        @include breakpoint(tab992) {
          position: absolute;
          top: 50%;
          left: 20%;
          @include translateY(-50%);
        }
    
        @include breakpoint(desktop1200) {
          left: 40%;
        }
      }
    }

    .topicon {
      @include square(130);
      @include flex-center;
      overflow: hidden;
      position: absolute;
      top: size(-112);
      left: size(-36);

      @include breakpoint(tab992) {
        top: size(-64);
        left: size(-90);
      }
    }
  }
  
  .rightcontent {
    @include flex-column;
    gap: size(44);
    @include h100;
    margin-top: size(64);

    @include breakpoint(tab992) {
      margin-top: size(0);
    }

    .title {
      font-weight: 700;
    }

    .info {
      @include flex-column;
      gap: size(24);

      .text {
        color: $primarytext;
        font-weight: 500;
        text-align: justify;
      }
    }

    .start {
      max-width: size(200);
    }
  }
}

.cardsection {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }
}

.allindustries {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(64);
    padding-bottom: size(48);
  
    @include breakpoint(desktop1400) {
      gap: size(96);
    }
  }
}

.servicesection {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    background: $sectionbg-2;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    overflow: hidden;
    padding: size(24);

    @include breakpoint(mobile768) {
      padding: size(48);
    }

    @include breakpoint(desktop1400) {
      padding: size(80);
    }
  }

  .servicedetails {
    @include flex-column;
    gap: size(48);
    
    .info {
      @include flex-column;
      gap: size(32);
    }
  }

  .actions {
    @include flex-center-vert;
    gap: size(14);
  }

  .service-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;
  }
}

.buildingwebsite {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(64);

    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }
}

.lifecycle {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(64);
    background: url(../images/home/lifecycle-bg.png);
    background-color: $sectionbg-3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    overflow: hidden;
    padding: size(24);

    @include breakpoint(mobile768) {
      padding: size(48);
    }

    @include breakpoint(desktop1400) {
      padding: size(80);
    }
  }
}

.testimonial {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(64);
    padding-bottom: size(48);
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }

    .info {
      max-width: size(612);
      margin-inline: auto;
    }
  }

  .swiper {
    padding-bottom: size(16);

    &-button-next,
    &-button-prev {
      background: $primary;
      @include square(48);
      @include circle;
      display: none;
      overflow: hidden;
      padding: size(14);
      margin-top: size(-32);
      
      @include breakpoint(tab992) {
        @include flex-center;
      }

      svg {
        path {
          fill: $white;
        }
      }

      &::after {
        content: '';
        font-size: 0;
        width: 0;
        height: 0;
        display: none;
      }
    }

    &-button-disabled {
      background: rgba($primary, 0.2);

      svg {
        path {
          fill: $primary;
        }
      }
    }
  }
}

.potential {
  &-content {
    background: url(../images/home/potential-bg.png);
    background-color: $sectionbg-4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include radius(20);
    overflow: hidden;
  }

  &-info {
    @include border(solid, 2, $headingtext);
    @include radius(20);
    overflow: hidden;
  }

  .leftinfo {
    @include flex-column;
    gap: size(32);
    padding: size(16);

    @include breakpoint(mobile768) {
      padding: size(40) size(20);
    }
    
    @include breakpoint(desktop1400) {
      padding: size(60) size(20);
    }

    .display-6 {
      color: $white;
      font-weight: 700;
    }
    
    .info {
      .text {
        color: $white;
      }
    }

    .started {
      max-width: size(200);
    }
  }

  .potential-thumbnail {
    background-color: $sectionbg-4;
    @include flex;
    align-items: flex-end;
    justify-content: flex-end;
    @include h100;
  }
}