@use '../global' as *;
@use '../partials' as *;

.lifecycle {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(64);
    background: url(../images/home/lifecycle-bg.png);
    background-color: $sectionbg-3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include border(solid, 2, $headingtext);
    @include radius(20);
    overflow: hidden;
    padding: size(24);

    @include breakpoint(mobile768) {
      padding: size(48);
    }

    @include breakpoint(desktop1400) {
      padding: size(80);
    }
  }

}

.testimonial {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(64);
    padding-bottom: size(48);
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }

    .info {
      max-width: size(612);
      margin-inline: auto;
    }
  }

  .swiper {
    padding-bottom: size(16);

    &-button-next,
    &-button-prev {
      background: $primary;
      @include square(48);
      @include circle;
      display: none;
      overflow: hidden;
      padding: size(14);
      margin-top: size(-32);
      
      @include breakpoint(tab992) {
        @include flex-center;
      }

      svg {
        path {
          fill: $white;
        }
      }

      &::after {
        content: '';
        font-size: 0;
        width: 0;
        height: 0;
        display: none;
      }
    }

    &-button-disabled {
      background: rgba($primary, 0.2);

      svg {
        path {
          fill: $primary;
        }
      }
    }
  }
}

.potential {
  &-content {
    background: url(../images/home/potential-bg.png);
    background-color: $sectionbg-4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include radius(20);
    overflow: hidden;
  }

  &-info {
    @include border(solid, 2, $headingtext);
    @include radius(20);
    overflow: hidden;
  }

  .leftinfo {
    @include flex-column;
    gap: size(32);
    padding: size(16);

    @include breakpoint(mobile768) {
      padding: size(40) size(20);
    }
    
    @include breakpoint(desktop1400) {
      padding: size(60) size(20);
    }

    .display-6 {
      font-weight: 700;
    }
    
    .info {
      .text {
        color: $headingtext;
      }
    }

    .started {
      max-width: size(200);
    }
  }

  .potential-thumbnail {
    background-color: $sectionbg-4;
    @include flex;
    align-items: flex-end;
    justify-content: flex-end;
    @include h100;
  }
}