@use '../global' as *;
@use '../partials' as *;

.tutorials {
  padding: size(48) size(20);

  @include breakpoint(mobile768) {
    padding: size(64) size(20);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(96) size(20);
  }

  &-content {
    @include flex-column;
    gap: size(80);
    padding-bottom: size(48);

    @include breakpoint(desktop1400) {
      gap: size(96);
    }
  }

}