@use "../../global" as *;
@use "../../partials" as *;

.main {
  padding-bottom: size(80);
  
  @include breakpoint(desktop1400) {    
    padding-bottom: size(160);
  }
}

.loggedmain {
  background: $theadbg;
  padding: size(60) size(0) size(80);
  // min-height: 100vh;
  
  @include breakpoint(desktop1400) {    
    padding: size(60)  size(0) size(160);
  }
}