@use '../../global' as *;
@use '../../partials' as *;

.searchform {
  @include flex-center-vert;
  gap: size(20);
  margin-inline: auto;
  flex-wrap: wrap;

  @include breakpoint(mobile576) {
    min-width: size(474);
    flex-wrap: nowrap;
  }

  @include breakpoint(mobile768) {
    max-width: size(575);
  }

  .searchfield {
    @include w100;
    @include setBgColor($contactinputbg, $headingtext);
    @include border(solid, 1, rgba($headingtext, 0.1));
    box-shadow: $searchshadow;
    font-size: size(15);
    padding: size(12.75) size(20);
    @include radius(4);
    @include transitionsall;

    @include breakpoint(mobile576) {
      width: calc(100% - size(160));
    }

    &::placeholder {
      color: $textplaceholder;
    }

    &:focus {
      border-color: $secondary;
    }
  }

  .btn-search {
    margin-inline: auto;
    width: size(140);
    @include setBgColor($headingtext, $white);
    @include border(solid, 1, $headingtext);
    @include radius(4);
    @include flex-center;
    font-weight: 700;
    padding: size(12) size(40);
    text-align: center;
    @include transitionsall;

    @include breakpoint(mobile576) {
      margin: 0;
    }

    @include hover {
      @include setBgColor(transparent, $headingtext);
    }
  }
}

.subscribeform {
  @include flex-center-vert;
  gap: size(12);
  @include w100;

  .textfield {
    @include setBgColor($inputbg, $black);
    @include border(solid, 1, rgba($headingtext, 0.10));
    @include radius(4);
    font-size: size(15);
    padding: size(9) size(16);
    width: calc(100% - size(56));
    @include transitionsall;

    &::placeholder {
      color: $headingtext;
    }

    &:focus {
      border-color: $secondary;
    }
  }

  .btn-subscribe {
    background: $primary;
    @include square(44);
    @include radius(4);
    @include flex-center;
    overflow: hidden;
    padding: size(12);
  }
}

.contactform {
  background: $white;
  @include border(solid, 2, $headingtext);
  @include radius(20);
  box-shadow: $formshadow;
  padding: size(40) size(20);
  position: relative;
  z-index: 100;

  @include breakpoint(mobile768) {
    padding: size(48) size(32);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(64) size(32);
  }

  .inputbox {
    @include flex-column;
    gap: size(12);

    .inputlabel {
      color: $headingtext;
      font-weight: 500;
    }
  }

  .submitbox {
    max-width: size(140);
  }
}

.inputbox {
  @include w100;

  .textfield {
    @include setBgColor($contactinputbg, $headingtext);
    @include border(solid, 1, rgba($headingtext, 0.10));
    @include radius(4);
    padding: size(12) size(16);
    @include w100;
    @include transitionsall;

    &:focus {
      border-color: $secondary;
    }
    
    &::placeholder {
      color: $textplaceholder;
    }
  }

  .selectfield {
    appearance: none;
    background: $contactinputbg url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41421 9C6.52331 9 6.07714 10.0771 6.70711 10.7071L11.2929 15.2929C11.6834 15.6834 12.3166 15.6834 12.7071 15.2929L17.2929 10.7071C17.9229 10.0771 17.4767 9 16.5858 9H7.41421Z' fill='%230B2330'/%3E%3C/svg%3E%0A") no-repeat center right 2%;
    color: $headingtext;
    @include border(solid, 1, rgba($headingtext, 0.10));
    @include radius(4);
    padding: size(12) size(20);
    @include w100;
    @include transitionsall;

    &:focus {
      border-color: $secondary;
    }
    
    &::placeholder {
      color: $textplaceholder;
    }
  }
}

.mycoupon {
  @include flex-column;
  gap: size(8);

  .couponbox {
    @include flex-center-vert;
    gap: size(20);

    .textfield {
      @include setBgColor($contactinputbg, $headingtext);
      @include border(solid, 1, rgba($headingtext, 0.10));
      @include radius(4);
      padding: size(12) size(16);
      width: calc(100% - size(130));
      @include transitionsall;

      &:focus {
        border-color: $secondary;
      }
      
      &::placeholder {
        color: $textplaceholder;
      }
    }

    .btn-apply {
      @include setBgColor($headingtext, $white);
      @include border(solid, 1, $headingtext);
      @include radius(4);
      font-weight: 700;
      padding: size(12) size(32);
      width: size(110);
      @include transitionsall;
      
      @include hover {
        @include setBgColor($white, $headingtext);
      }
    }
  }

  .coupontext {
    @include flex-center-vert;
    gap: size(8);

    .icon {
      @include square(16);
      @include flex-center;
      overflow: hidden;
    }

    .text {
      color: $coupontext;
      font-size: size(15);
    }
  }
}